
#playlists {
  margin-right: 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#tracks {
  border-top: 1px solid #ccc;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
  border-bottom: 1px solid #ccc;
  width:100%;
}

#tracks table {
  width:100%;
  border-top: 1px solid black;
}

#playlists h3,#tracks h3 {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-weight: bold;
  background: blanchedalmond;
}

#playlists div.playlist {
  padding: 10px;
  border-bottom: 2px solid #ccc;
  
  margin-bottom:0;
  font-weight: bold;
  font-size: 14px;
}

#playlists div.playlist.active {
  background: lightblue;
}

#playlists div.playlist.active:hover {
  background: lightblue;
  cursor: pointer;
}

#playlists div.playlist:hover {
  background: blanchedalmond;
  cursor: pointer;
}

#playlists div:first-of-type {
  border-top:1px solid #ccc;
}

#tracks td, #tracks th {
  padding: 10px;
}

.container {
  margin: 0 auto;
  width:95%;
}

.even {
  background: #ccc;
}

.odd {
  background: white;
}

.clear {
  clear: both;
}

#contact-card {
  max-width: 350px;
}

#contact {
  width:300px;
  margin-bottom: 0px;
}

#contact input, #contact textarea {
  display:block;
  margin-bottom:10px;
  width:100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
