
body {
  /* background-color: rgb(50, 54, 57); */
  background-color: #919599;
}

#playlists td {
  cursor: default;
}

h1, h4 {
  /* color: white; */
}

.clear {
  clear: both;
}

#contact-card {
  max-width: 350px;
}

#contact {
  width:100%;
  margin-bottom: 0px;
}

#contact input, #contact textarea {
  display:block;
  margin-bottom:10px;
  width:100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
